{% load placeholder_admin_tags i18n %}{% comment %}
This is the base template to render a ContentPlugin model.
The template can be replaced by defining ``admin_form_template`` in the plugin class.

The before_fieldsets and after_fieldsets blocks are added on purpose,
to allow plugins to easily extend this file.
{% endcomment %}
        {% block before_fieldsets %}{% endblock %}
        {% block plugin-message %}
          {% if inline_admin_form|has_no_visible_fields %}
            <div class="form-row">
              <p class='plugin-without-fields'>{% trans "There are no options to configure for this element." %}</p>
            </div>
          {% endif %}
        {% endblock %}
        {% block fieldsets %}
          {% for fieldset in inline_admin_form %}
            {% include "admin/fluent_contents/fieldset.html" %}{# a admin/includes/fieldset.html that supports hidden fields #}
          {% endfor %}
        {% endblock %}
        {% block after_fieldsets %}{% endblock %}
