{% load i18n %}{% comment %}

  This loops over all forms in the ContentItemInline.
  As this is a polymorphic inline, each form may be a different type.

{% endcomment %}
  <div id="{{ inline_admin_formset.formset.prefix }}-group" class="inline-group inline-contentitem-group">
    {{ inline_admin_formset.formset.management_form }}
    {{ inline_admin_formset.formset.non_form_errors }}

    {% comment %}
      For all child inline types, display the `cp_admin_init_template.

      inline_admin_formset = InlinePolymorphicAdminFormSet
      inline_admin_formset.opts = ContentItemInline (BaseContentItemParentInline)

    {% endcomment %}
    {% for child_inline in inline_admin_formset.opts.child_inline_instances %}
      {% if child_inline.cp_admin_init_template %}
        {% include child_inline.cp_admin_init_template %}
      {% endif %}
    {% endfor %}

    {% comment %}
      Loop over all forms, via the inline_admin_formset helper class (InlinePolymorphicAdminFormSet).
      Looping in `inline_admin_formset.formset.forms` excludes empty form.
      Looping in `inline_admin_formset` includes the empty placeholder as last item
      The `inline_admin_form.model_admin` returns the BaseContentItemChildInline.
    {% endcomment %}
    {% for inline_admin_form in inline_admin_formset %}
      <div data-inline-type="{{ inline_admin_form.model_admin.type_name }}" class="inline-related inline-{{ inline_admin_form.model_admin.type_name }}{% if not inline_admin_form.original.pk %} empty-form{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if inline_admin_form.original.pk %}{{ forloop.counter0 }}{% else %}empty{% endif %}">
        <h2 class="cp-formset-item-title cp-clearfix">
          <span class="title">{{ inline_admin_form.model_admin.name }}</span>
          <span class="cp-item-controls">
            <span class="cp-item-icons">
              <a class="cp-item-up" href="#up">u</a>
              <a class="cp-item-down" href="#down">d</a>
              <a class="cp-item-move" href="#move">m</a>
            </span>
            <span class="cp-item-delete"><a href="#delete">x</a>{% if inline_admin_formset.formset.can_delete and inline_admin_form.original %}{{ inline_admin_form.deletion_field.field }}{% endif %}</span>
          </span>
        </h2>

        {% if inline_admin_form.has_auto_field or inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}

        <div class="cp-formset-item-fields">{# this div is used for the copy-language functionality #}
          {# render the form fields. Each Content Type can override it. Default is "admin/cp/cmspageitem/admin_form.html". #}
          {% if inline_admin_form.form.non_field_errors %}
            <div class="form-row">{{ inline_admin_form.form.non_field_errors }}</div>
          {% endif %}

          {% block formfields %}
            {% include inline_admin_form.model_admin.cp_admin_form_template with form=inline_admin_form.form %}
          {% endblock %}
        </div>
      </div>
    {% endfor %}
  </div>
