{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}{% comment %}
  This is the admin template to render a single Placeholder.
  This is only for debugging, in general, a placeholder is only created through an inline.

  The item editor is initialized, so the placeholder items can be reordered, and updated freely.
{% endcomment %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
  // Pass database data to the cp_admin.js file.
  // Because this is the admin page of the Placeholder itself, and not some other model,
  // the placeholder array is actually a dummy referring to the current model.
  cp_data.set_placeholders({% block js_placeholders %}[
    {
      id: {{ original.id|default:"''" }},
      slot: '{{ original.slot|default:"DUMMY"|escapejs }}',
      title: '{{ original.title|escapejs }}',
      role: '{{ original.role }}',
      domnode: 'content_placeholder_inlines'
    }
  ]{% endblock %});
  cp_data.set_contentitem_metadata({% with parent_formset=inline_admin_formsets|get_content_item_formset %}{
    prefix: '{{ parent_formset.prefix|escapejs }}',{# fs.formset = targetobjectformFormSet #}
    auto_id: '{{ parent_formset.auto_id|escapejs }}',
    child_inlines: {% block js_contentitemtypes %}{{% for child_inline in inline_admin_formsets|all_content_item_child_inlines %}
      '{{ child_inline.type_name|escapejs }}': {
        type: '{{ child_inline.type_name|escapejs }}',
        plugin: '{{ child_inline.plugin.name|escapejs }}',
        name: '{{ child_inline.name|escapejs }}',
        contenttype_id: {{ child_inline.content_type.pk }}
      }{% if not forloop.last %}, {% endif %}{% endfor %}
    }{% endblock %}
  });{% endwith %}

</script>
{% endblock %}

{% block after_field_sets %}
  {# Have an area where the inlines can move and reorder freely #}
  <div class="inline-group inline-placeholder-group">
    <div id="cp-tabmain" class="module">
      <div id="content_placeholder_inlines">
        {% include "admin/fluent_contents/placeholderfield/pane.html" with placeholder_slot=original.slot|default:"DUMMY" placeholder_id=original.id|default:'' cp_plugin_categories=cp_plugin_categories %}
      </div>
    </div>
  </div>
{% endblock %}

{% block after_related_objects %}

{% endblock %}
