# for readthedocs
# Remaining requirements are picked up from setup.py
Django==2.2.8
django-fluent-utils == 2.0.1
django-mptt == 0.10.0
django-parler == 1.9.2
django-polymorphic == 2.1.1
django-tag-parser == 3.1
sphinxcontrib-django == 0.4
future == 0.17.1
