# for readthedocs
# Remaining requirements are picked up from setup.py
Django==3.2.9
django-fluent-utils == 2.0.1
django-mptt == 0.13.4
django-parler == 2.2.1
django-polymorphic == 3.0.0
django-tag-parser == 3.2
sphinxcontrib-django == 0.5.1
